@model NeatBurger.Models.ViewModels.MenuViewModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="menu3">
    <div>
        <h1>NUESTRO MENÚ</h1>
        @foreach (var clasif in Model.ListaClasificaciones)
        {
            <h3>@clasif.Clasificacion</h3>
            @foreach (var hamb in clasif.ListaHamburguesas)
            {
                @if (hamb.Id == Model.Menu.Id)
                {
                    <h2 class="seleccionado"><a href="~/Home/Menu/@(hamb.Nombre.Replace(" ", "-"))"><span>@hamb.Nombre</span> <span class="price">@hamb.Precio.ToString("c")</span></a></h2>
                }
                else
                {
                    <h2><a href="~/Home/Menu/@(hamb.Nombre.Replace(" ", "-"))"><span>@hamb.Nombre</span> <span class="price">@hamb.Precio.ToString("c")</span></a></h2>
                }
            }
        }
    </div>
    <div>
        <img src="~/hamburguesas/@(Model.Menu.Id).png" />
        <p>@Model.Menu.Descripción</p>
    </div>
</section>